services:
  # MongoDB: Database
  database:
    image: docker.io/mongo
    restart: always
    volumes:
      - mongodb_data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s

  # Redis: Event message broker & KV store
  redis:
    image: docker.io/eqalpha/keydb
    restart: always
    volumes:
      - redis_data:/data

  # RabbitMQ: Internal message broker
  rabbit:
    image: docker.io/rabbitmq:4
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBIT_USER:-rabbituser}
      RABBITMQ_DEFAULT_PASS: ${RABBIT_PASS:-rabbitpass}
    volumes:
      - rabbit_data:/var/lib/rabbitmq
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 20s

  # MinIO: S3-compatible storage server
  minio:
    image: docker.io/minio/minio
    command: server /data
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: ${MINIO_USER:-minioautumn}
      MINIO_ROOT_PASSWORD: ${MINIO_PASS:-minioautumn}
      MINIO_DOMAIN: minio
    restart: always

volumes:
  mongodb_data:
  redis_data:
  rabbit_data:
  minio_data:
